body {
  margin: 0;
  background-color:#333333;
  background-image: url(../assets/image/BG_Inicio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: var(--text-color-destaque);
  height: 100vh;
  font-weight: bold;
  font-family: var(--font-text);
  font-size: 2.5rem;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  width: 90vw;
  text-align: center;
  justify-content: center;
}

#ano {
  position: fixed;
  width: 90vw;
  margin: auto;
  text-align: center;
  bottom: 0;
}
