main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80vw;
  max-width: 100rem;
}

.biografiaSection,
.CuriosidadesSection {
  margin: 3rem 0 0 1rem;
}

main h1 {
  font-size: 4rem;
  text-align: center;
}

main h2 {
  margin-top: 1rem;
  font-size: 2rem;
}

main button.btn2 {
  background-image: url(../assets/image/btn2.webp);
  padding: 0.5rem 1rem 0.5rem 3.5rem;
}

main button.btn4 {
  background-image: url(../assets/image/btn4.webp);
  padding: 0.5rem 1rem 0.5rem 3.5rem;
}

@media (min-width: 768px) {
  main h1 {
    padding-top: 2.5rem;
    font-size: 4.5rem;
  }

  main h2 {
    font-size: 3rem;
  }

  main p {
    font-size: 1.6rem;
  }

  .biografiaSection,
  .CuriosidadesSection {
    margin-left: 0;
  }
}
