body {
  margin: 0;
  background-image: url(../assets/image/Van_Gogh.jpg);
  background-position: right;
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  margin: auto;
  align-items: end;
}

.homeSection {
  display: flex;
  flex-direction: column;
  margin-top:auto;
  max-width: 70vw;
  text-align: right;
}

main h1 {
  font-size: 4rem;
}

main h2 {
  margin-top: 3.9rem;
  font-size: 2.5rem;
}

main button.btn1 {
  padding: 0.5rem 1rem 0.5rem 4.7rem;
  background-image: url(../assets/image/btn1.jpg);
}

.centralizaButton {
  justify-content: right;
  margin-top: 5rem;
}