body {
  margin: 0;
  background-image: url(../assets/image/Vincent_Van_Gogh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  align-items: end;
}

.homeSection {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
  text-align: right;
}

main h1 {
  font-size: 3rem;
}

main h2 {
  margin-top: 3.5rem;
  font-size: 2.5rem;
}

main img {
  filter: drop-shadow(1rem 0.7rem 0.5rem var(--text-color-destaque));
}

main button.btn1 {
  margin-top: 5.5rem;
  font-size: 2rem;
  background-image: url(../assets/image/btn2.jpg);
}
