main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width:80vw;
}

.ObrasSection {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 0 1rem;
  align-items: center;
}

.ObrasSection article {
  flex: 1 1 25.6rem;
  margin: 3rem 1rem 1rem 1rem;
}

.CardObras{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

.ObrasSection article img{
  width: 100%;
}

main h1 {
  font-size: 4rem;
  text-align: center;
}

main h2 {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: center;
}

main button.btn3 {
  background-image: url(../assets/image/btn3.jpg);
  padding: 0.5rem 1rem 0.5rem 4.5rem;
  font-size: 2rem;
}
