body {
  margin: 0.5rem;
  font-family: var(--font-text);
  background-color: var(--bg-color-dark);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
}

/*O modo claro será desenvolvido posteriormente!*/
header nav .light {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titulos);
  margin: 0;
}

p {
  text-indent: 0.8rem;
  font-size: 1.4rem;
}

ul {
  list-style: none;
  font-size: 2rem;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--font-text);
}

button.navegacao {
  font-size: 2.5rem;
  font-weight: bold;
  border: 0.1rem outset var(--text-color-destaque);
  border-radius: 5rem;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--bg-color-menu_footer-dark);
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 1;
  overflow: hidden;
}

.centralizaButton {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

button.mIcon {
  background: none;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.light {
  width: 3rem;
}

main .modal-content {
  background-color: var(--bg-color-menu_footer-dark);
}

@media (min-width: 768px) {
  .centralizaButton,
  .Menu-Mobile {
    display: none;
  }
  header .Menu-Desktop {
    display: block;
  }
}
