body {
  margin: 0;
  background-image: url(../assets/image/BG_Sobre.webp);
  background-position: center;
  color: var(--text-color);
}

main {
  display: flex;
  width: 80vw;
  height: 90vh;
  margin: auto;
}

main h1 {
  font-size: 4rem;
  text-align: center;
}

main h2 {
  margin-top: 1rem;
  font-size: 2.8rem;
}

.Contatos ul li {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.SobreMim p {
  margin-left: 1rem;
}

.SobreMim .imgScroll {
  display: none;
  justify-content: center;
}

.SobreMim .imgScroll img {
  width: 2rem;
  animation: down 1.5s infinite;
}

@keyframes down {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-5px, 0); }
  50% { transform: translate(5px, 0); }
  75% { transform: translate(-5px, 0); }
  100% { transform: translate(5px, 0); }
}

.Contatos ul {
  text-align: center;
}

.sobreSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin: auto;
}

.Contatos img {
  width: 1.8rem;
}

footer {
  position: fixed;
  padding: 1rem;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color-menu_footer-dark);
  text-align: center;
}

footer h3 {
  font-size: 1.5rem;
  font-family: var(--font-text);
}

@media (max-height: 555px) {
  .divScroll {
    overflow: scroll;
    height: 50dvh;
  }
  .SobreMim .imgScroll {
    display: flex;
  }
  .SobreMim p {
    margin: 1rem 0 0.5rem 1rem;
  }
}
