body {
  margin: 0;
  background-image: url(../assets/image/BG_Sobre.webp);
  background-position: center;
  color: var(--text-color);
}

main {
  display: flex;
  width: 80vw;
  height: 90vh;
  margin: auto;
}

main h1 {
  font-size: 4rem;
  text-align: center;
}

main h2 {
  margin-top: 1rem;
  font-size: 2.8rem;
}

main p, .Contatos ul li  {
  font-size: 1.6rem;
}

.SobreMim p, .Contatos ul {
  margin-left: 1rem;
}

.sobreSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin: auto;
}

footer {
  position: fixed;
  padding: 1rem;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color-menu_footer-dark);
  text-align: center;
}

footer h3 {
  font-size: 1.5rem;
  font-family: var(--font-text);
}

@media (max-height: 555px) {
.divScroll {
  overflow: scroll;
  height: 40vh;
}
}